[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
rope = "*"
graphviz = "*"

[packages]
ipykernel = "*"
astropy = "*"
lightkurve = "*"
transitleastsquares = "*"
tensorflow = "*"
numpy = "*"
fastdtw = "*"
sklearn = "*"
tdqm = "*"

[requires]
python_version = "3.8"
